<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Página de Inicio - Dragon Ball</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="container">
  <h1>Bienvenido al mundo de Dragon Ball</h1>
  <p>¡Bienvenido al emocionante universo de Dragon Ball! Aquí podrás explorar todo sobre tus personajes favoritos, revivir las épicas batallas y sumergirte en las aventuras inolvidables de Goku y sus amigos.</p>
  
  <img src="/images/goku.png" alt="Goku">
  
  <h2>Descubre lo que tenemos para ti:</h2>
  <ul>
    <li><a href="/about">Acerca de Dragon Ball</a> - Obtén información detallada sobre la serie, su historia y su creador, Akira Toriyama.</li>
    <li><a href="/characters">Personajes</a> - Explora la lista de personajes icónicos como Goku, Vegeta, Gohan, y más.</li>
    <li><a href="/episodes">Episodios</a> - Revive los emocionantes episodios de Dragon Ball y sigue la historia desde el principio.</li>
    <li><a href="/gallery">Galería</a> - Disfruta de una selección de imágenes y arte de Dragon Ball, incluyendo fan art y arte oficial.</li>
  </ul>
  
  <h3>¡No te pierdas ninguna actualización!</h3>
</div>

</body>
</html>
